.iv_video {
    width: 100%;
}

.fadeInVideo{
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% {opacity: 100%;}
}

.iv_mainDiv{
    position: relative;
}

.iv_icon {
    padding: 14px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #FF0000;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 7px #FF0000;
    z-index: 2;
}

.iv_img {
    width: 100%;
  }