.contentLeftArea {
  grid-area: left;
}

.contentRightArea {
  grid-area: right;
}

.cb_mainDiv {
  padding-top: 240px;
}

.cd_imgDiv {
  margin-top: 30px;
}

.cb_title {
  font-size: 25px;
}

.cb_wrapDev {
  margin-top: 70px;
}

.cb_wrapTextLink {
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}
.cb_icon {
  font-size: 15px;
}

.mainWrapLinkText {
  display: flex;
  margin-bottom: 15px;
  gap: 20px;
}
