.pageMain {
  margin-left: 100px;
  margin-right: 100px;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.welcomeMainContent {
  width: 90%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.photo {
  max-width: 400px;
  border-radius: 100%;
  min-width: 200px;
  width: 100%;
  margin-top: 40px;
}

.personalInfoBox {
  padding: 20px;
}

.infoTextBox {
  height: calc(100% - 50px);
}

.personalLinksBox {
  display: flex;
  gap: 40px;
  align-items: center;
}

.projects {
  padding: 20px;
}

.mainBlockTitle {
  font-size: 40px;
}

.highlightText {
  font-weight: bold;
  text-decoration: underline;
}

.linksImgText {
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.icon {
  font-size: 15px;
}
